<p>
  Lotus is a modular web framework. It scales from single file HTTP endpoints to multiple applications in the same Ruby process.
</p>
<p>
  Unlike other Ruby web frameworks, Lotus has flexible conventions for code structure. Developers can arrange the layout of their projects as they prefer. There is a suggested architecture that can be easily changed with a few settings.
</p>
<p>
  Lotus encourages the use of Ruby namespaces. This is based on the experience of working on dozens of projects. By using Ruby namespaces, as your code grows it can be split with less effort. In other words, Lotus is providing gentle guidance for avoiding monolithic applications.
</p>
<p>
  Lotus has a smart mechanism of duplication of its frameworks. It allows multiple copies of the framework and multiple applications to run in the same Ruby process. In other words, Lotus applications are ready to be split into smaller parts, but these parts can coexist in the same heap space.
</p>
<p>
  All this adaptability can be helpful to bend the framework for your advanced requirements, but we recognize the need for guidance in standard architectures. For this reason Lotus is shipped with code generators.
</p>
