<!doctype HTML>
<html>
<head>
  <title>Web</title>
  <link href="posts_app/stylesheets/application.css" media="all" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="posts_app/stylesheets/bootstrap.min.css">
</head>
<body>
  <%= yield %>
</body>
</html>
