<h1>Welcome to Lotus!</h1>
<% posts.each do |post| %>
  <%= post.title %><br>
<% end %>
<button type="button" class="btn btn-success">Success</button>
<form action="posts_app" method="post">
  Title: <input type="text" name="title"><br>
  Content: <input type="text" name="content"><br>
  <%= button_to("post", "Create new Post") %>
</form>