<h1>Welcome to Lotus Posts App!</h1>
<% posts.each do |post| %>
<%= post.title %><br>
<% end %>
<br>
<form role="form" action="posts_app" method="post" >
 <div class="form-group">
   Title:
   <input type="text" name="title">
 </div>
 <div class="form-group">
  Content:
  <textarea name="content"></textarea>
</div>
<%= button_to("post", "Create new Post") %>
</div>
</form>