<!doctype HTML>
<html>
<head>
  <title>Todos App</title>
  <link rel="stylesheet" type="text/css" href="posts_app/stylesheets/application.css">
  <link rel="stylesheet" href="posts_app/stylesheets/bootstrap.min.css">
</head>
<body>
  <% if signed_in %>
  <%= "Logged in as: #{logged_user.name.capitalize}" %>
  <form role="form" action="posts_app/logout" method="get" id="logout" >
    <%= button_to("get", "Logout") %>
  </form>
  <br><br>
  <%= "Your Token: #{logged_user.remember_token}" %>
  <% end %>
  <%= yield %>
</body>
</html>
